<a
    data-schema="http://uischema.org/Feature"
    href="{{data.link.href}}"    
    target="{{data.link.target}}"    
>
    {% if data.image %}
        {% include Image.liquid data=data.image %}
    {% endif %}
    {% if data.heading %}
        <h3>{{ data.heading }}</h3>
    {% endif %}
    {% if data.subheading %}
        <h4>{{ data.subheading }}</h4>
    {% endif %}
    {% if data.body %}
        <p>{{ data.body }}</p>
    {% endif %}
</a>
