<a
    data-schema="http://uischema.org/Feature"
    href="{{self.link.href}}"    
    target="{{self.link.target}}"    
>
    {% if self.image %}
        {% include Image.liquid data=self.image %}
    {% endif %}
    {% if self.heading %}
        <h3>{{ self.heading }}</h3>
    {% endif %}
    {% if self.subheading %}
        <h4>{{ self.subheading }}</h4>
    {% endif %}
    {% if self.body %}
        <p>{{ self.body }}</p>
    {% endif %}
</a>
